.leftBar__Container {
  border-right: 3px solid #fafafa;
  padding: 0 25px;
  left: 0;
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  background: #00000035;
  opacity: 0;
}
.leftBar-images {
  cursor: pointer;
  background: #fafafa;
  width: 40px;
  padding: 10px;
  border-radius: 30% / 50%;
  border: 1px solid #fff;
  box-shadow: 0 0 10px 2px #ffffff, 0 0 10px 2px #ffffff inset;
}
.leftBar-images:hover {
  border: 1px solid;
}
.DisplayNone {
  display: none;
}
@media all and (max-width: 480px) {
  .leftBar__Container {
    padding: 0 15px;
    z-index: 2;
  }
  .leftBar-images {
    width: 25px;
  }
}
