.home__container {
  display: flex;
  align-self: center;
  opacity: 0;
  align-items: center;
}
.home__name {
  display: inline-block;
  overflow: hidden;
  text-wrap: nowrap;
}
.home__image {
  width: 250px;
  margin: 40px;
  border-radius: 30% / 50%;
  box-shadow: 0 0 15px 5px #ffffff;
}
.home__button {
  color: #ffffff;
  box-shadow: 0 0 10px 2px #ffffff;
  background-color: #00000035;
}
.home__nameContainer {
  display: flex;
  width: 280px;
  align-items: center;
}
.home__line {
  opacity: 1;
  height: 100px;
  display: inline-block;
  border: 1px solid;
}
