#root {
  display: grid;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
  user-select: none;
}
.menuImgs {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  z-index: 3;
}
